.study {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 23px;

  @include vp-1199 {
    gap: 36px;
  }

  @include vp-767 {
    gap: 25px;
  }
}

.study__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  transform: translateY(2px);

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
  }
}

.study__list {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0;

  @include vp-1199 {
    width: 590px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 90px;
    row-gap: 61px;
  }

  @include vp-767 {
    width: 275px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    left: 10px;
    bottom: 15px;
    height: 1px;
    background-color: $color-navy-blue;
    opacity: 0.2;

    @include vp-1199 {
      width: 345px;
      height: 56px;
      background-color: $color-transparent;
      border: 1px solid $color-navy-blue;
      border-left: none;
      bottom: 0;
      top: 66px;
      left: 15px;
      opacity: 0.1;
    }

    @include vp-767 {
      width: 1px;
      height: 85%;
      background-color: $color-navy-blue;
      border: none;
      top: 14px;
      left: 6px;
    }
  }
}

.study__item {
  position: relative;
  width: 253px;
  min-height: 102px;
  display: flex;
  gap: 10px;
  padding: 8px 10px;

  @include vp-1199 {
    min-height: auto;

    &--tree {
      order: 4;
    }
  }

  @include vp-767 {
    width: 100%;
    gap: 13px;
    padding: 0;
    padding-left: 30px;
    transform: translateY(1px);

    &--tree {
      order: 0;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background-color: $color-navy-blue;
    border-radius: 50%;
    bottom: 8px;
    left: 10px;

    @include vp-1199 {
      bottom: 0;
    }

    @include vp-767 {
      bottom: 12px;
      left: 0;
    }
  }

  svg {
    min-width: 25px;
    min-height: 25px;

    @include vp-767 {
      min-width: 20px;
      min-height: 20px;
      width: 20px;
      height: 20px;
      transform: translateY(4px);
    }
  }
}

.study__item--tree::after,
.study__item--mountain::after {
  @include vp-768-1199 {
    bottom: 0;
    top: -21px;
  }
}

.study__text {
  width: 198px;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  padding-bottom: 14px;
  transform: translateY(-2px);

  @include vp-1199 {
    width: 197px;
    font-size: 14px;
    line-height: 22px;
  }

  @include vp-767 {
    width: auto;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
  }

  br {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}
