.swiper-control {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.swiper-control__btn--right {
  transform: rotate(180deg);

  svg {
    transform: translateY(-1px);
  }
}

.swiper-control__btn {
  width: 37px;
  padding: 9.5px 12px;
  color: $color-default-white;
  background-color: $color-navy-blue;
  border: none;
  outline: none;
  user-select: none;
  transition: color $trans-default;

  svg {
    max-width: 13px;
    max-height: 9px;
  }

  &:not(:disabled) {
    @include hover-focus {
      color: $color-resolution-blue;
      background-color: $color-default-white;
      box-shadow: inset 0 0 0 1px currentColor;
    }

    @include active {
      box-shadow: none;
      background-color: $color-resolution-blue;
      color: $color-default-white;
    }
  }

  &:disabled {
    box-shadow: none;
    color: $color-default-white;
    background-color: $color-nobel;
  }
}
