.training {
  padding: 20px 0 0;
  overflow: hidden;

  @include vp-1199 {
    padding: 45px 0;
  }

  @include vp-767 {
    padding: 20px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @include vp-1199 {
      gap: 25px;
    }
  }
}

.training__trainers-wrapper {
  margin-top: 2px;
}

.training__top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;

  @include vp-1199 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 25px;
  }
}

.training__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include vp-1199 {
    gap: 29px;
  }

  @include vp-767 {
    gap: 18px;
  }
}

.training__title {
  margin-top: -1px;

  &::after {
    content: "Обучение";
    top: -6px;

    @include vp-1199 {
      top: -20px;
    }

    @include vp-767 {
      top: -3px;
    }
  }

  @include vp-1199 {
    margin-top: 4px;
  }

  @include vp-767 {
    padding-top: 0;
    transform: translateY(3px);
  }
}

.training__content {
  p {
    margin: 0;
    width: 820px;
    font-size: 16px;
    line-height: 24px;

    @include vp-1199 {
      width: 560px;
    }

    @include vp-767 {
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      transform: translateY(1px);
    }
  }
}

.training__subtitle {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0 0 34px;
  transform: translateY(2px);
}

.training__swiper {
  width: 100%;

  @include vp-767 {
    max-width: 500px;
  }
}
