.trainer {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  background-color: $color-default-white;
}

.trainer__image {
  img,
  picture {
    width: 100%;
    height: 200px;
  }

  img {
    object-fit: cover;
    object-position: center;
  }

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    max-width: 500px;
  }
}

.trainer__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  transform: translateY(1px);
}

.trainer__name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.trainer__content p {
  margin: 0;
  margin-bottom: auto;
  font-size: 12px;
  line-height: 16px;
}

.trainer__link {
  width: 24px;
  height: 24px;

  svg {
    transform: scale(1.1);
  }
}
